.header-container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 0px auto;
  margin-bottom: 20px;
}

.neil-portrait {
  width: 200px;
  border-radius: 50%;
}

.nav-bar {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  font-size: 20px;
}

.about-me-container {
  padding-top: 20px;
}

.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.text-container {
  position: relative;
  height: 2rem;
  overflow: hidden;
  width: 100%;
}

.text {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.visible {
  opacity: 1;
}

.divider {
  color: black;
  border: none;
  border-top: solid 2px black;
  width: 80%;
  margin: 10px auto;
}

.about-me-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.about-me-text {
  font-size: 20px;
  width: 80%;
  text-align: center;
}

.projects-container {
  /* padding-top: 20px;
  display: flex;
  align-items: center;
  border: solid; */
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-description,
.project-image {
  display: flex;
  width: 20%;
}

.project-description {
  min-height: 300px;
  min-width: 300px;
}

.project-text-container {
  position: relative;
  /* height: 2rem; */
  overflow: hidden;
  width: 100%;
}

.project-text {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.project-text-visible {
  opacity: 1;
}

.project-body {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.project-image-file {
  width: 200px;
}

.project-description-header {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.rotating-project-image {
  width: 200px;
}
