.header-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.neil-portrait {
  width: 200px;
  border-radius: 50%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
}
