* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 50px 100px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    rgba(92, 235, 237, 0.614),
    rgba(178, 117, 234, 0.564)
  );
}
